<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-registration shadow-lg p-3 mb-5">
        <h2>Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
                        placeholder: "Please enter an email",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        placeholder: "Please enter a password",
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        placeholder: "Please confirm your password",
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :walker_status, as: :radio_buttons, collection: [['Walker',true], ['User',false]],
                        required: true%>
            <%= f.input :photo, as: :file %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Submit", class: "btn btn-outline-dark" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
