<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 py-4">
      <div class="form-dog shadow-lg p-3 mb-5 rounded">
        <h1 class="text-center">Edit your Dog Information</h1>
        <div class="container py-2">
          <%= simple_form_for (@dog) do |f| %>
            <%= f.input :name %>
            <%= f.input :breed %>
            <%= f.input :birthday %>
            <%= f.input :weight %>
            <%= f.input :size, collection: ["Small Doggie", "Medium Dog", "Large DOGGO"] %>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit, "Edit", class:"btn btn-outline-dark btn-edit"  %>
            <%= link_to "Back to your Dogs", dogs_path, class: "btn btn-outline-dark btn-edit my-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
