<div class="dog-card-category">
  <div class="dog-card-content text-center letter-font">
    <h1 style="font-family: 'Playfair Display', serif">My Dogs</h1>
    <%= link_to "Add dog", new_dog_path , class:"btn btn-gradient"%>
  </div>
</div>
<div class="container my-3 py-6">
  <div class="d-flex home-index-cards">
    <% @dogs.each do |dog| %>
      <div class="card mx-3 dogs-index-card" data-aos="zoom-out-up"
     data-aos-anchor-placement="bottom-bottom">
        <%= link_to dog_path(dog) do %>
          <%= cl_image_tag dog.photo.key, crop: :fit , class:"card-img-top dogs-index-card-img" %>
          <div class="dogs-show-button-container">
            <%= link_to edit_dog_path(dog), class:"btn btn-outline-light dog-show-edit-btn" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to dog_path(dog), data: {turbo_method: :delete}, class:"btn btn-outline-light dog-show-delete-btn" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        <% end %>
        <div class="dogs-card-title">
          <h2><%= dog.name %></h2>
          <h5>Breed: <%=dog.breed %></h5>
        </div>
          <div class="row dogs-info">
            <div class="col-4 text-center">
              <h5>Birthday</h5>
              <%= dog.birthday %>
            </div>
            <div class="col-4 text-center">
              <h5>Size </h5>
              <%= dog.size %>
            </div>
            <div class="col-4 text-center ">
              <h5>Weight</h5>
              <%= dog.weight %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
