<div class="dog-card-category">
  <div class="dog-card-content text-center letter-font">
    <h1><strong>My Dogs</strong></h1>
    <%= link_to "Add new dog", new_dog_path , class:"btn btn-gradient"%>
  </div>
</div>
<div class="container my-3 py-6">
  <div class="d-flex home-index-cards">
    <% @dogs.each do |dog| %>

      <div class="card mx-3 dogs-index-card" data-aos="zoom-out-up"
        data-aos-anchor-placement="bottom-bottom">
          <div class="dogs-index-card-img" style="background-image: url('<%= cl_image_path dog.photo.key, crop: :fit %>')"></div>
          <div class="dogs-button-container">

            <%= link_to edit_dog_path(dog), class:"btn btn-outline-light dog-show-edit-btn" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to dog_path(dog), data: {turbo_method: :delete}, class:"btn btn-outline-light dog-show-delete-btn" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        <div class="dog-index-text">
          <div class="dogs-card-title text-center">
            <h2><%= dog.name %></h2>
            <h5>Breed: <%=dog.breed %></h5>
          </div>
          <div class="row d-flex">
            <div class="col-4 text-center">
              <h5><i class="fa-solid fa-clock"></i></h5>
              <%= dog.birthday %>
            </div>
            <div class="col-4 text-center">
              <h5><i class="fa-solid fa-ruler"></i></h5>
              <%= dog.size %>
            </div>
            <div class="col-4 text-center">
              <h5><i class="fa-solid fa-weight-hanging"></i></h5>
              <%= dog.weight %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
