<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 py-4">
      <div class="form-dog shadow-lg p-3 mb-5 rounded">
        <h1 class="text-center">Register your Dog</h1>
        <div class="container">
          <%= simple_form_for (@dog) do |f| %>
            <%= f.input :name, placeholder: "Add your Dog name"%>
            <%= f.input :birthday, html5: true %>
            <%= f.input :breed, placeholder: "Add your Dog breed"%>
            <%= f.input :size, prompt: "Choose your dog size", collection: ["S", "M", "L"]%>
            <%= f.input :weight, placeholder: "Add your Dog breed", collection: 1..100%>
            <%= f.input :photo, as: :file %>
            <%= f.button :submit, "Confirm", class: "btn btn-outline-dark btn-new" %>
            <%= link_to "Back", dogs_path, class: "btn btn-outline-dark btn-new my-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
