<h1>New dog</h1>
<div class="container">
  <%= simple_form_for (@dog) do |f| %>
    <%= f.input :name%>
    <%= f.input :birthday%>
    <%= f.input :breed%>
    <%= f.input :size, collection: ["Small Doggie", "Medium Dog", "Large DOGGO"]%>
    <%= f.input :weight%>
    <%= f.submit %>
  <% end %>
</div>
