<div class="container">
  <div class="row py-4">
    <div class="col-sm-6", style="height: 500px">
      <div class="card">
        <div class="card-body">
          <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
          <h5 class="card-title"><%= @dog.name %></h5>
          <p class="card-text text-center py-1">Age: <%= @dog.birthday %></p>
          <p class="card-text text-center py-1">Breed: <%= @dog.breed %></p>
          <p class="card-text text-center py-1">Size: <%= @dog.size %></p>
          <p class="card-text text-center py-1">Weight: <%= @dog.weight %></p>
          <div class="d-flex justify-content-around">
            <%= link_to "Edit this dog", edit_dog_path(@dog), class:"btn btn-outline-secondary"%>
            <%= link_to "Eliminar este perro", dog_path(@dog), data: {turbo_method: :delete}, class:"btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
