<div class="container">
  <div class="row py-4">
    <div class="col-sm-6", style="height: 500px">
      <div class="card">
        <div class="card-body">
          <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fit %>
          <h5 class="card-title"><%= @dog.name %></h5>
          <ul class="list-group">
            <li class="list-group-item">C<%= @dog.birthday %></li>
            <li class="list-group-item">Breed: <%= @dog.breed %></li>
            <li class="list-group-item">Size: <%= @dog.size %></li>
            <li class="list-group-item">Weight: <%= @dog.weight %></li>
          </ul>

          <div class="d-flex justify-content-around">
            <%= link_to "Edit this dog", edit_dog_path(@dog), class:"btn btn-outline-secondary"%>
            <%= link_to "Delete this dog", dog_path(@dog), data: {turbo_method: :delete}, class:"btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
