<div class="container py-4">
  <% if current_user.id == @chatroom.walker_id || current_user.id == @chatroom.user_id  %>
    <div class="container chatroom"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
      data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
      <% if current_user.walker_status == false %>
        <h3 class="py-3">Walk #<%= @chatroom.reservation.record.route.id %> with <%= @chatroom.reservation.record.route.user.first_name  %></h3>
      <% else %>
        <h3 class="py-3">Walk #<%= @chatroom.reservation.record.route.id %> with <%= @chatroom.reservation.dog.name %> & <%= @chatroom.reservation.dog.user.first_name %></h3>
      <% end %>
      <div class="messages", data-chatroom-subscription-target="messages">
        <% @chatroom.messages.each do |message| %>
          <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
            <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render "messages/message", message: message %>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= simple_form_for [@chatroom, @message],
          html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f| %>
          <%= f.input :content,
            label: false,
            placeholder: "Write a message here",
            wrapper_html: {class: "flex-grow-1"},
            input_html: {class:"mesage"} %>
          <%= f.submit "Send", class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  <% else %>
      <h1> No puedes acceder a este chat</h1>
  <% end %>
</div>
