<body>
<%# banner %>
  <div class="banner-landing">
    <div class="banner-content text-center letter-font">
      <h1 style="font-family: 'Playfair Display', serif">We walk the walk, and bark the bark</h1>
      <p>Find a walker near you!</p>
      <%= link_to "Start now", new_user_session_path, class: "btn btn-gradient"  %>
    </div>
  </div>

  <%# services %>

<section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">We provide exclusive service to each of our members</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa-solid fa-comments"></i>
                        </span>
                        <h4 class="my-3">Exclusive communication</h4>
                        <p class="text-muted">Have instant access to a private chat with your walker the moment your reservation is done!</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-location-dot"></i>

                        </span>
                        <h4 class="my-3">Follow your dog</h4>
                        <p class="text-muted">You will be able to see where your dog has been, how much he walked and how much time!</p>
                    </div>

                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-handshake"></i>

                        </span>
                        <h4 class="my-3">Make a difference</h4>
                        <p class="text-muted">For every walk with us you are helping grow our own shelter Benito's Dogs to find a place for stary dogs!</p>
                    </div>
                </div>
            </div>
        </section>

  <%# Our team %>

  <section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row my-3">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="<%= asset_path('beni.jpg')%>" alt="Benito Yuchi" />
                    <h4>Benito Yuchi</h4>
                    <p class="text-muted">Software Engineer</p>
                    <a href="https://www.instagram.com/benimon_/" target="_blank"><i class="fa-brands fa-instagram icons"></i></a>
                    <a href="https://www.facebook.com/beh15" target="_blank"><i class="fa-brands fa-square-facebook icons"></i></a>
                    <a href="https://www.linkedin.com/in/yhsueh/" target="_blank"><i class="fa-brands fa-linkedin icons"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="<%= asset_path('maki.jpg') %>" alt="Ryusei Makiguchi" />
                    <h4>Ryusei Makiguchi</h4>
                    <p class="text-muted">Software Engineer</p>
                    <a href="https://www.instagram.com/ryumakiguchi/" target="_blank"><i class="fa-brands fa-instagram icons"></i></a>
                    <a href="https://www.facebook.com/makiguchi1" target="_blank"><i class="fa-brands fa-square-facebook icons"></i></a>
                    <a href="https://www.linkedin.com/in/ryusei-makiguchi-174681190/" target="_blank"><i class="fa-brands fa-linkedin icons"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="<%= asset_path('vic2.jpeg') %>" alt="Victor Sa" />
                    <h4>Victor Sa</h4>
                    <p class="text-muted">Software Engineer</p>
                    <a href="https://www.instagram.com/piniponcho/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram icons"></i></a>
                    <a href="https://www.facebook.com/victor.sa.18400/" target="_blank"><i class="fa-brands fa-square-facebook icons"></i></a>
                    <a href="https://www.linkedin.com/in/victor-sa-13a43b80/?locale=en_US" target="_blank"><i class="fa-brands fa-linkedin icons"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="<%= asset_path('edu.jpeg') %>" alt="Eduardo Aguilar" />
                    <h4>Eduardo Aguilar</h4>
                    <p class="text-muted">Software Engineer</p>
                    <a href="https://www.instagram.com/la_lolino/" target="_blank"><i class="fa-brands fa-instagram icons"></i></a>
                    <a href="#!"><i class="fa-brands fa-square-facebook icons" target="_blank"></i></a>
                    <a href="https://www.linkedin.com/in/eduardo-aguilar-7103b8238/" target="_blank"><i class="fa-brands fa-linkedin icons"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div>
        </div>
    </div>
  </section>
</div>
</body>
