<div class="container">
  <% if current_user.walker_status == true%>
    <%# walker %>
    <% if @user.id == current_user.id %>
    <%# im walker and its my profile %>
    <div class="row py-5 px-4 mb-3">
      <div>
        <div class="bg-white shadow overflow-hidden profile-rounded">
          <div class="px-4 pt-0 pb-4 cover">
            <div class="media d-flex align-items-center profile-head">
              <div class="profile mr-5">
                  <%= cl_image_tag @user.photo.key, width: 130, crop: :fill, class:"rounded mb-2 img-thumbnail"%>
              </div>
              <div class="media-body text-white profile-rounded">
                  <h4 class="ml-5 px-5"><%= @user.first_name %> <%= @user.last_name %></h4>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 mt-4 profile-rounded">
            <div class="p-4 rounded shadow-sm bg-light profile-rounded-upper">
              <h4><%= pluralize @user.reviews.size, "review" %></h4>
            </div>
          </div>
          <div class="py-4 px-4">
            <ul class="list-group">
            <% @user.reviews.each do |review| %>
              <li class="list-group-item">
                <div class="comment-text">
                  <small >
                    <% review.rating.times do %>
                      <i class="fas fa-star review-star-icon"></i>
                    <% end %>
                  <%= review.rating %>/5</small>
                  <p>
                    <%= review.comment %>
                  </p>
                </div>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% elsif @user.walker_status == true && @user.id != current_user.id%>
      <%# im walker and im in another walkers profile NO ACCESS%>
      <h1>YOU DONT HAVE ACCESS TO THIS WALKERS PROFILE</h1>
    <% else %>
      <%# im walker and im in a user profile NO ACCESS%>
      <h1>YOU DONT HAVE ACCESS TO THIS USERS PROFILE</h1>
    <% end %>
  <% else %>
    <%# non walker %>
    <% if @user.id == current_user.id %>
      <%# im user and its my profile %>
      <h2>My dashboard</h2>
      <div>
        <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 cover">
            <div class="media d-flex align-items-center profile-head ">
              <div class="profile mr-5">
                  <%= cl_image_tag @user.photo.key, width: 130, crop: :fill, class:"rounded mb-2 img-thumbnail"%>
              </div>
              <div class="media-body text-white">
                  <h4 class="ml-5 px-5"><%= @user.first_name %> <%= @user.last_name %></h4>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% elsif @user.walker_status == true %>
      <%# im user and im in a walker profile %>
      <div class="row py-5 px-4 mb-3">
      <div>
        <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 cover">
            <div class="media d-flex align-items-center profile-head ">
              <div class="profile mr-5">
                  <%= cl_image_tag @user.photo.key, width: 130, crop: :fill, class:"rounded mb-2 img-thumbnail"%>
              </div>
              <div class="media-body text-white">
                  <h4 class="ml-5 px-5"><%= @user.first_name %> <%= @user.last_name %></h4>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 mt-4">
            <div class="p-4 rounded shadow-sm bg-light">
              <h4><%= pluralize @user.reviews.size, "review" %></h4>
            </div>
          </div>
          <div class="container px-4 py-3 mt-4">
            <div class="profile-form">
              <%= render "reviews/form" %>
            </div>
          </div>
          <div data-controller="insert-in-list">
            <div class="py-4 px-4">
              <ul class="list-group" data-insert-in-list-target="items">
              <% @user.reviews.each do |review| %>
                <li class="list-group-item">
                  <div>
                    <small>
                      <% review.rating.times do %>
                          <i class="fas fa-star review-star-icon"></i>
                      <% end %>
                    <%= review.rating %>/5</small>
                    <p>
                      <%= review.comment %>
                    </p>
                  </div>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% else %>
      <%# im user and im in another users profile NO ACCESS%>
      <h1>YOU DONT HAVE ACCESS TO THIS USERS PROFILE</h1>
    <% end %>
  <% end %>
</div>
