<% if current_user.walker_status == false && @user.id == current_user.id %>
  <div class="container">
    <h2>My dashboard</h2>
  </div>
<% else %>
  <div class="container">
    <h4><%= @user.email %></h4>
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>

    <h2><%= pluralize @user.reviews.size, "review" %></h2>

    <div data-controller="insert-in-list">
      <div data-insert-in-list-target="items">
        <% if @user.reviews.blank? %>
          <% if @user.id == current_user.id %>
          <% else %>
            Be the first to leave a review for <%= @user.first_name %>
          <% end %>
        <% else %>
          <% if @user.id == current_user.id %>
            <h5>Your reviews</h5>
          <% end %>
          <% @user.reviews.each do |review| %>
            <p><%= review.comment %></p>
            <%= current_user.first_name %>
          <% end %>
        <% end %>
      </div>
        <% if @user.id == current_user.id %>
        <% else %>
        <%= render "reviews/form" %>
        <% end %>
    </div>
  </div
<% end %>
