<div class="banner-route hero-image">
  <div class="hero-text">
    <h1><strong>Walks<strong></h1>
  </div>
</div>
 <div class="container my-5">
  <div>
    <%= form_with url: routes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an Address or City"%>
      <%= submit_tag "Search", class: "btn btn-outline-dark mx-2" %>
    <% end %>
      <% if current_user.walker_status == true %>
        <%= link_to "New route", new_route_path, class: "btn btn-outline-dark mt-4" %>
      <% end %>
  </div>
  <div class="row my-4 py-4">
    <div class="col-8 flex-wrap">
      <div class="row">
        <% @routes.each do |route| %>
          <div class="col-6">
            <div class="card mb-4 show-route-card">
              <%= link_to route_path(route) do %>
                <%= cl_image_tag route.photo.key, crop: :fit , class:"card-img-top show-route-card" do %>
                <% end %>
                <h5 class="card-title card-desc show-route-card text-center"><%= route.name %></h5>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="mx-100 h-100 show-route-card"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      </div>
    </div>
  </div>
</div>
