 <div class="container">
  <div>
    <%= form_with url: routes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an Address or City"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <h1>Routes</h1>
      <p class="card-text">User: <%= current_user.email%></p>
    <% @routes.each do |route| %>
      <p class="card-text">Name: <%= link_to route.name, route_path(route) %></p>
      <p class="card-text">Address: <%= route.address %></p>
      <% route.records.each do |record| %>
      <p>Mis horarios</p>
        <%= record.start_time %>
        <%= record.start_time %>
         <% record.reservations.each do |reservation| %>
              <p>Mis Paseos</p>
              <%= reservation.dog.name %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "New route", new_route_path %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
