 <div class="container">
  <div>
    <%= form_with url: routes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an Address or City" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <h1>Routes</h1>
      <p class="card-text">User: <%= current_user.email%></p>

        <% @routes.each do |route| %>
        <div class="card" style="width: 18rem;">
            <% if route.photo.attached? %>
            <img class="card-img-top" src="..." alt="Card image cap">
              <div class="home-index-card" style="background-image: url('<%= cl_image_path route.photo.key, height: 400, width: 320, crop: :fill %>')">
              </div>
            <% end %>
            <p>Name: <%= link_to route.name, route_path(route) %></p>
            <p>Address: <%= route.address %></p>
            <% route.records.each do |record| %>
                <h3>My Schedules</h3>
                <p>Start Time: <%= record.start_time %></p>
                <p>End Time: <%= record.start_time %></p>
                <p>Available: <%= record.available  %></p>
                <% record.reservations.each do |reservation| %>
                  <p>Mis Paseos</p>
                  <%= reservation.dog.name %>
                <% end %>
            <% end %>
            <% end %>
        </div>
  </div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

  <% if current_user.walker_status == true %>
    <%= link_to "New route", new_route_path %>
  <% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<p class="card flex-md-row mb-4 box-shadow h-md-250"></p>

   <div class="row mb-2">

        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Featured post</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
          </div>
        </div>

        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Post title</a>
              </h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>

    </div>