
<p class="card-text">Name: <%= @route.name %></p>
<p class="card-text">Address: <%= @route.address %></p>


<% @route.records.each do |record| %>
  <%= record.start_time %>
<% end %>

<%= link_to "Edit this route", edit_route_path(@route), class:"btn btn-outline-secondary"%>
<%= link_to "Eliminar esta route", route_path(@route), data: {turbo_method: :delete}, class:"btn btn-outline-secondary" %>